@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@radix-ui/themes/styles.css';

body {
  //background: pink;
  overflow-y: scroll;
}

#sceneExplorer,
#actionTabs {
  max-height: 100vh;
  overflow-y: scroll;
}

@font-face {
  font-display: block;
  font-family: 'Public Pixel';
  src:
    url('PublicPixel-z84yD.woff2') format('woff2'),
    url('PublicPixel-z84yD.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  // from https://transfonter.org/
  font-family: 'x12y16pxLineLinker';
  src:
    url('subset-x12y16pxLineLinker.woff2') format('woff2'),
    url('subset-x12y16pxLineLinker.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
