.logoImg {
  height: 16px;
  width: 142px;
  object-fit: contain;
}

.logoText {
  font-family: x12y16pxLineLinker;
  font-size: 28px;
}

.button {
  font-family: 'Public Pixel', sans-serif;
  font-size: 20px;
}
